# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.log
*.pot
*.pyc

# Django
media/
staticfiles/
db.sqlite3

# Node.js
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# production
/build

# misc
.DS_Store
*.pem

# Virtual env
venv/
env/
*.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
